<%- include("partials/header"); -%>

<div class="homePage">
  <h1>Conatct us</h1>
  <h5>Welcom to our <a href="https://www.instagram.com/6adi.94/">instagrm</a> </h5>
</div>

<%- include("partials/footer"); -%>
